/* sansational */

@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/font_sansation/Sansation-Bold-webfont.eot');
    src: url('../fonts/font_sansation/Sansation-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_sansation/Sansation-Bold-webfont.woff2') format('woff2'),
         url('../fonts/font_sansation/Sansation-Bold-webfont.woff') format('woff'),
         url('../fonts/font_sansation/Sansation-Bold-webfont.ttf') format('truetype'),
         url('../fonts/font_sansation/Sansation-Bold-webfont.svg#sansationbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationbold_italic';
    src: url('../fonts/font_sansation/Sansation-BoldItalic-webfont.eot');
    src: url('../fonts/font_sansation/Sansation-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_sansation/Sansation-BoldItalic-webfont.woff2') format('woff2'),
         url('../fonts/font_sansation/Sansation-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/font_sansation/Sansation-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/font_sansation/Sansation-BoldItalic-webfont.svg#sansationbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationitalic';
    src: url('../fonts/font_sansation/Sansation-Italic-webfont.eot');
    src: url('../fonts/font_sansation/Sansation-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_sansation/Sansation-Italic-webfont.woff2') format('woff2'),
         url('../fonts/font_sansation/Sansation-Italic-webfont.woff') format('woff'),
         url('../fonts/font_sansation/Sansation-Italic-webfont.ttf') format('truetype'),
         url('../fonts/font_sansation/Sansation-Italic-webfont.svg#sansationitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansation_lightlight';
    src: url('../fonts/font_sansation/Sansation-Light-webfont.eot');
    src: url('../fonts/font_sansation/Sansation-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_sansation/Sansation-Light-webfont.woff2') format('woff2'),
         url('../fonts/font_sansation/Sansation-Light-webfont.woff') format('woff'),
         url('../fonts/font_sansation/Sansation-Light-webfont.ttf') format('truetype'),
         url('../fonts/font_sansation/Sansation-Light-webfont.svg#sansation_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansation_lightlight_italic';
    src: url('../fonts/font_sansation/Sansation-LightItalic-webfont.eot');
    src: url('../fonts/font_sansation/Sansation-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_sansation/Sansation-LightItalic-webfont.woff2') format('woff2'),
         url('../fonts/font_sansation/Sansation-LightItalic-webfont.woff') format('woff'),
         url('../fonts/font_sansation/Sansation-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/font_sansation/Sansation-LightItalic-webfont.svg#sansation_lightlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sansationregular';
    src: url('../fonts/font_sansation/Sansation-Regular-webfont.eot');
    src: url('../fonts/font_sansation/Sansation-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_sansation/Sansation-Regular-webfont.woff2') format('woff2'),
         url('../fonts/font_sansation/Sansation-Regular-webfont.woff') format('woff'),
         url('../fonts/font_sansation/Sansation-Regular-webfont.ttf') format('truetype'),
         url('../fonts/font_sansation/Sansation-Regular-webfont.svg#sansationregular') format('svg');
    font-weight: normal;
    font-style: normal;
}