
/* Form Styles */
/*
input {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  padding: 15px;
  margin: 5px 0;
  font-size: 1rem;
  color: #475B62;
  border: 1px solid #C5C5C5;
  padding: 3px;
  outline: 0;
}
*/

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
  background-color:#ffff99;
}
input.ng-valid.ng-touched {
  /*border: 1px solid #509D12;*/
}
textarea.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
  background-color:#ffff99;
}

/*
.ng-invalid .btn {
  background: gray;
}
*/
.error {
  color: white;
  padding: 2px 12px 2px 12px; background-color:red;
  font-size:12px;
}